{% extends 'base.html.twig' %}

{% block title %}Stadiums{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-outline-success m-2" href="{{ path('stadium_new') }}">Nouveau stade</a>
    {% endif %}
    

    <div class="container-fluid">
        <h1>Les Stades</h1>
        <div class="row align-items-center justify-content-around">
        {% for stadium in stadiums %}
            <div class="card col col-md-3 col-sm-6 align-items-center">
                <img src="{{ asset('uploads/stadium/')}}{{ stadium.picture }}" class=" img-fluid card-img-top" alt="{{stadium.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{ stadium.name }}</h5>
                    <p class="card-text">
                        {{ stadium.address }}
                    </p>

                    <a href="{{ path('stadium_show', {'id': stadium.id}) }}" class="btn btn-outline-info">Voir plus</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('stadium_edit', {'id': stadium.id}) }}" class="btn btn-outline-secondary">Modifier</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    
{% endblock %}
