{% extends 'base.html.twig' %}

{% block title %}Stadium{% endblock %}

{% block body %}
    <div class="card container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col col-md-8 col-sm-12">
                <img src="{{ asset('uploads/')}}{{ stadium.picture }}" class="img-fluid" alt="{{stadium.name}}">
            </div>
            <div class="card-body col col-md-4 col-sm-12">
                <h3 class="card-title">{{ stadium.name }}</h3>
                <p class="card-text">
                    {{ stadium.address }}
                
                    {% if stadium.club %}
                        <p>
                            <b>Club : </b><br/>
                            {{ stadium.club }}
                        </p>
                    {% endif %}
                    <div>
                        <p><b>Tournois :</b><br/>
                            {% for tournament in stadium.tournaments %}
                                <a class="card-link">{{ tournament.name }}</a><br/>
                            {% else %}
                                Aucun
                            {% endfor %}
                        </p>
                    </div>
                </p>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" href="{{ path('stadium_index') }}">Liste des stades</a>

    <a class="btn btn-secondary" href="{{ path('stadium_edit', {'id': stadium.id}) }}">Modifier</a>

    {{ include('stadium/_delete_form.html.twig') }}
    
{% endblock %}
