{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}
<div class="card border-0 justify-content-center align-items-center">
        {% if app.user.club is defined and app.user.club not in clubsInscrits %}
        <form class="mt-2 w-100" method="POST" action="{{ path('inscription_new', { 'tournamentId': tournament.id, 'clubId': app.user.club.id }) }}">
            <button type="submit" class="btn btn-success w-100">
                S'Inscrire à ce Tournoi
            </button>
        </form>
        {% endif %}
        <div class="card-body">
            <h1 class="card-title">{{ tournament.title }}</h1>
            <p class="card-text">
                {{ tournament.description }}
            </p>
            <p class="card-text">
                Nombre maximum d'équipes autorisées : <span class="text-info font-weight-bold">{{ tournament.nbMaxTeam }}</span>
            </p>
            
            <p class="card-text">
                Date de début du tournoi : 
                <span>{{ tournament.startDate ? tournament.startDate|date('d M Y') : '' }}</span>
            </p>
            <p class="card-text">
                Date de fin du tournoi :
                <span>{{ tournament.endDate ? tournament.endDate|date('d M Y') : '' }}</span>
            </p>
            <p class="card-text">
                Ce tournoi est se déroule au
                <a class="card-link" href="{{ path('stadium_show', { 'id': tournament.stadium.id}) }}">{{ tournament.stadium.name }}</a>
            </p>
            <p class="card-text">
                Ce tournoi est organisé par la
                <a class="card-link" href="{{ path('league_show', { 'id': tournament.league.id}) }}">{{ tournament.league.name }}</a>
            </p>
            <p class="card-text">
                Catégorie : {{ tournament.ageCategory | capitalize }}
            <p>
            <div class="card justify-content-center">
                <h2 class="card-header">Clubs participants</h2>
                {% for inscription in tournament.inscriptions %}
                    <p>
                        <a class="card-link" href="{{ path('club_show',{ 'id': inscription.club.id }) }}" >{{ inscription.club.name }}</a>
                    </p>
                {% else %}
                    <p> Aucun club n'est inscrit à ce tournoi</p>
                {% endfor %}
            </div>

        </div>
    </div>

    <a class="btn btn-outline-primary mt-1" href="{{ path('tournament_index') }}">Liste des tournois</a>

    {% if app.user is same as(tournament.league.responsible) %}
        <a class="btn btn-outline-secondary mt-1" href="{{ path('tournament_edit', {'id': tournament.id}) }}">Modifier</a>
        {{ include('tournament/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
