{% extends 'base.html.twig' %}

{% block title %}Club{% endblock %}

{% block body %}
    
    <div class="container py-5">
        <div class="row justify-content-around">
            <div class="col col-md-5 col-sm-10 order-2">
                <img src="{{ asset('uploads/logo/') }}{{ club.logo }}"  class="img-fluid mw-75" alt="logo du club" />
            </div>
            <div class="col col-md-5 col-sm-10 order-1">
                <h1>{{ club.name }}</h1>
                <p class="mt-4">
                    Sigle du club : {{ club.acronym }}<br/>
                    Adresse du club : {{ club.address }}<br/>

                    <a target="_new" href="{{ club.website }}"> Lien vers le site web</a>
                </p>
                <p>
                    <b>Ligue :</b> <a href="{{ path('league_show',{ 'id': club.league.id }) }}"> {{ club.league.name }}</a>
                </p>
                <p>
                    <b>Secrétaire :</b> {{ club.secretary.fullName }}
                </p>
                <p>
                    <b>Tournois :</b><br/>
                    {% for inscription in club.inscriptions %}
                        <a class="card-link" href="{{ path('tournament_show', { 'id': inscription.tournament.id }) }}">{{ inscription.tournament.title }}</a><br/>
                    {% else %}
                        Aucun
                    {% endfor %}
                        
                </p>
            </div>
        </div>
        <div>
            <a class="btn btn-outline-primary" href="{{ path('club_index') }}">Liste des Clubs</a>
            {% if app.user is same as(club.secretary) or is_granted("ROLE_ADMIN") %}
                <a class="btn btn-outline-secondary mt-1" href="{{ path('club_edit', {'id': club.id}) }}">Modifier</a>
                {{ include('club/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>

{% endblock %}
